blockquote {
	text-align: left;
	padding: 1em !important;
}

.reveal {
  font-family: "PFDinTextPro-Thin", sans-serif;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
	font-family: "PFDinTextCondPro-Regular", sans-serif;
	/*font-weight: 100;*/
	
}

.reveal h1, 
.reveal h2 {
	text-transform: uppercase;
}

.half {
	width: 48%;
	float: left;
}

.special {
	color: #e7ad52;
	font-family: sans-serif;
}

.reveal section .unstyle-img img {
	background: none;
	border: 0;
}

.reveal blockquote {
	font-family: 'PFDinTextPro-ThinItalic', sans-serif;
	font-size: 32px;
	line-height: 1.5;
}