


/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/


$sans-serif:        "museo-sans-1";
$serif:             "museo-slab-1";

$alert-yellow:      #ebe16f;
$alert-red:         #fbe3e4;
$alert-green:       #e6efc2;
$alert-blue:        #d5edf8;

$white:  		#ffffff;
$black: 		#231f20;
$grey: 			lighten($black, 10%);

$orange: 		#a94d25;

$dark-blue: 	#237fa9;
$light-blue: 	lighten(desaturate($dark-blue, 30%), 25%);

$link-color: 	$dark-blue;
$link-hover: 	darken($link-color, 9%);

$main-font-clr: 	$black;

$vlight-accent: 	#f4f7f9;
$light-accent: 		darken($white, 10%);
$medium-accent: 	$light-blue;
$dark-accent: 		$dark-blue;

$btn-color: 		$light-blue;

$txt-light: 		darken($light-accent, 20%);

$accent-border: 	1px dotted $medium-accent;



/**
 * Custom theme
 * notlaura.com
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Base settings for all themes that can optionally be
// overridden by the super-theme

// Background of the presentation
$backgroundColor: $white;

// Primary/body text
$mainFont: $sans-serif, sans-serif;
$mainFontSize: 36px;
$mainColor: $black;

// Headings
$headingFont: $sans-serif;
$headingColor: $black;
$headingLetterSpacing: 0;
$headingMargin: 0 0 20px 0;
$headingLineHeight: 0.9em;
$headingTextTransform: none;
$headingTextShadow: none;
$heading1TextShadow: $headingTextShadow;
//$headingFontWeight: 500;

// Links and actions
$linkColor: $link-color;
$linkColorHover: $link-hover;

// Text selection
$selectionBackgroundColor: lighten($alert-yellow, 10%);
$selectionColor: $black;

// Generates the presentation background, can be overridden
// to return a background image or gradient
@mixin bodyBackground() {
	background: $backgroundColor;
}




// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

.reveal {
	font-weight: 300;
	letter-spacing: 0;
}

.reveal h1 {
	font-weight: 700;
}

.reveal {
	h4, h5 {
		font-weight: 300;
	}
}

.special {
	color: $dark-blue;
}

.reveal a:not(.image), .reveal a:not(.image):hover {
	border-bottom: $accent-border;	
}

.reveal blockquote {
	padding: 1em 1.3em;
	font-weight: 100;
}

.reveal section img {
	border: $light-accent 5px solid;
}

.reveal section .unstyle-img img {
	border: none;
	box-shadow: none;
}


.half {
	width: 45%;
	float: left;
	&:first-child {
		margin-right: 3%;
	}
}

.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}