// ----
// Colors
// ----

// Basic color names
$black: 			#111;
$white: 			#fff;

$alert-yellow:      #ebe16f;
$alert-red:         #fbe3e4;
$alert-green:       #e6efc2;
$alert-blue:        #d5edf8;

// nl colors

$lime: 				lighten(#00C11E, 20%);

$dark-blue:      	#237fa9;
$offwhite:     		#f4f7f9;
$light-blue: 		#86b2c6;
$grey: 				#b4b4b4;
$orange: 			#A94D23;
$dark-grey: 		#3e3739;

// Misc colors
$pink: 				#CC6699;


// Purposeful color names
// http://thesassway.com/beginner/variable-naming
// http://sachagreif.com/sass-color-variables/

$vlight-accent: 	$offwhite;
$light-accent: 		$grey;
$med-accent: 		$light-blue;
$dark-accent: 		$dark-blue;

$link-color:		$dark-accent;
$link-hover: 		$med-accent;

$main-font: 		$dark-grey;
$main-bkgd: 		$white;

$sec-font:  		$offwhite;
$sec-bkgd: 			$dark-accent;

$light-txt: 		darken($light-accent, 20%);

$link-color: 		$dark-blue;
$link-hover: 		darken($link-color, 9%);

$btn-color: 		$light-blue;

$accent-border: 	1px dotted $med-accent;


// ----
// Typography 
// ----

// Container is rem
// All calulated styles are ems
// Root font size is %age in body

$contain: 			2rem;
$base:  			$contain;
$line-height-base: 	1.5;
$sml:  				$base*0.8;

$h1:  				$base*3;
$h2:  				$base*2.2;
$h3:  				$base*1.4;
$h4:  				$base*1.2;
$h5:  				$base;
$h6:  				$sml;

$sans-serif: 		'museo-sans-1', Helvetica, sans-serif;
$serif:             'museo-slab-1', Georgia, serif;


// ----
// Reveal Settings
// ----

$backgroundColor: $white;

// Primary/body text
$mainFont: $sans-serif, sans-serif;
$mainFontSize: $contain;
$mainColor: $main-font;

// Headings
$headingFont: $sans-serif;
$headingColor: $black;
$headingLetterSpacing: 0;
$headingMargin: 0 0 0 0;
$headingLineHeight: $line-height-base;
$headingTextTransform: none;
$headingTextShadow: none;
$heading1TextShadow: $headingTextShadow;
$headingFontWeight: 700;

// Links and actions
$linkColor: $link-color;
$linkColorHover: $link-hover;

// Text selection
$selectionBackgroundColor: lighten($alert-yellow, 10%);
$selectionColor: $black;




@mixin centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}