body {
	// Default font stuff
	color: $main-font;
	font-family: $sans-serif;
	font-size: $contain;
	font-weight: 300;
	line-height: $line-height-base;
	
	background-color: $main-bkgd;
}

a, a:visited {
	color: $link-color;
	text-decoration: none;

	&:hover, &:focus {
		color: $link-hover;
	}

	&:active {
		color: darken($link-hover, 20%);	
	}

	// mobile tap color 
	&:link {
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}


header p {
	margin: 0;
}

strong {
	font-weight: 500;
}

p {
	font-size: $base;
	margin-top: 0;
	margin-bottom: $base;
	font-weight: 300;
}

// http://csswizardry.com/2010/12/mo-robust-paragraph-indenting/
p+p {
  text-indent: $h3;
  margin-top: -$base;
}

hr {
	margin-bottom: $base;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: $sml;
}

h1 {
	font-weight: 700 !important;
}

h2, h3 {
	font-family: $sans-serif;
	font-weight: 700;
}

h4, h5, h6 {
	font-family: $serif;
	font-weight: 500;	
	margin-top: $h4;

}

h1 {
	font-size: $h1;
	margin-top: $sml;
	font-weight: 300;
	font-family: $sans-serif;
}

h2 {
	font-size: $h2;
	margin-top: $h3;
	// font-family: $sans-serif;
	//font-weight: 900;
}

h3 {
	font-size: $h3;
	margin-top: $h4;
}

h4 {
	font-size: $h4;
}

h5 {
	font-size: $h5;
}

h6 {
	font-size: $h6;
}
