
//
// Custom theme
// notlaura.com
//


// Reveal
@import "../template/settings";
@import "../template/mixins";

// Custom
@import 'nl-settings';
@import 'nl-typography';
@import "../template/theme";

// Custom
@import 'nl-grid';

@mixin upperspace() {
    text-transform: uppercase;
    letter-spacing: 1px;
}


// Generates the presentation background, can be overridden
// to return a background image or gradient
body {
	background: $backgroundColor;
	border-top: 10px solid $dark-blue;
}

.reveal {

	pre {
    white-space: pre-wrap;
    word-break: break-word;
	}

	.smaller {
		font-size: $sml;
	}


	// .threecol.fragment {
	// 	padding-right: 20px;
	// }

	.lead {
		font-size: $h4 !important;
		line-height: 1.5;
		// text-align: left !important;
	}

	.wrapper-sm {
		// margin-top: $base;
		max-width: 960px;
		margin: $base auto;
		width: 90%;
	}

	.wrapper {
		width: 90%;
		max-width: 1140px;
		margin: 0 auto;
	}

	iframe {
		width: 1140px;
		height: 800px;
	}

	font-weight: 300;
	letter-spacing: 0;

	.slides>section, .slides>section>section {
		padding: 0;
	}


	.text-right {
		text-align: right;
	}

	.text-center {
		text-align: center;
	}

	.text-left {
		text-align: left !important;
	}

	.center-block {
		margin: 0 auto;
	}

	.grey {
		color: $light-accent;
	}

	hr {
		border: 1px dotted $link-color;
	}


	.slides {
		// text-align: left;
	}

	.special {
		color: $dark-blue;
	}

	.pink {
		color: $pink;
	}

	.danger {
		color: $danger;
		font-weight: bold;
	}

	.success {
		color: $success;
		font-weight: bold;
	}

	a span.special {
		color: $dark-grey !important;
	}

	a:not(.image), a:not(.image):hover {
		border-bottom: $accent-border;
	}

	.callout-quote {
		font-size: $h3;
	}

	blockquote {
		padding: 1em 1.3em;
		font-family: $serif;
		text-align: left;
		box-shadow: none;
		border: none;
		line-height: 1.5;
		border-left: 1px solid $light-accent;

		.special {
			color: $med-accent;
		}
	}

	section img, .style-img {
		border: $light-accent 5px solid;
		box-shadow: none;
		max-height: 80vh;
	}

	section .unstyle-img img, .unstyle-img {
		border: none;
		box-shadow: none;
	}

	.illustration img {
		max-width: 90%;
		margin: 0 auto;
	}

	.half {
		width: 45%;
		float: left;
		&:first-child {
			margin-right: 3%;
		}
	}

	.clearfix {
	  &:after {
	    content: "";
	    display: table;
	    clear: both;
	  }
	}

	.hljs {
		// background-color: $black;
		padding: $base;
		// border: 1px dotted $light-accent;

		&.terminal {
			background-color: $black;
			border: 0;
			color: $lime;
		}
	}

	.center-vert {
		margin-top: 50%;
	}

	.img-row {
		display: table;
		width: 100%;
		.threecol {
			display: table-cell;
			vertical-align: middle;
		}
	}

	.slides section .fragment.highlight-blue.visible {
		color: $dark-blue;
	}

	// Utilities
	// I hope no one looks at this!

	.big {
		font-size: 4rem;
	}

	.bold {
		font-weight: 500;
	}

	.bigger {
		font-size: $h3;
	}

	.strike {
		color: $med-accent;
	}

	ul li {
		margin-bottom: $sml/2;
	}

	ul.unstyle-list {
		margin: 0;
		padding: 0;
		list-style: none; // Ugh.

		li {
			margin-bottom: $base;
		}
	}

	.meta-upper {
		@include upperspace;
		font-size: $sml;
		color: $med-accent;
	}

	.animal-photo {
		height: 60vh;
	}

	.tag {
		position: absolute;
		width: 100%;
		bottom: 0;
		z-index: 4;
	}

	.tag-text {
		background-color: $main-bkgd;
		text-align: center;
		padding: $sml 0;
		// color: $sec-font;
		font-size: $sml/1.4;
	}

	.controls {
		z-index: 9;
	}
}
