
//
// Custom theme
// notlaura.com
//

 @import 'nl-settings';


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Base settings for all themes that can optionally be
// overridden by the super-theme

// Background of the presentation
$backgroundColor: $white;

// Primary/body text
$mainFont: $sans-serif, sans-serif;
$mainFontSize: $contain;
$mainColor: $main-font;

// Headings
$headingFont: $sans-serif;
$headingColor: $black;
$headingLetterSpacing: 0;
$headingMargin: 0 0 0 0;
$headingLineHeight: $line-height-base;
$headingTextTransform: none;
$headingTextShadow: none;
$heading1TextShadow: $headingTextShadow;
$headingFontWeight: 500;

// Links and actions
$linkColor: $link-color;
$linkColorHover: $link-hover;

// Text selection
$selectionBackgroundColor: lighten($alert-yellow, 10%);
$selectionColor: $black;

// Generates the presentation background, can be overridden
// to return a background image or gradient
@mixin bodyBackground() {
	background: $backgroundColor;
}


.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}

hr {
	border: 1px dotted $link-color;	
}


// Theme template ------------------------------

@import "../template/theme";

// ---------------------------------------------

 @import 'nl-grid';
 @import 'nl-typography';

.reveal {
	font-weight: 300;
	letter-spacing: 0;

	.special {
		color: $dark-blue;
	}

	a span.special {
		color: $dark-grey !important;	
	}

	a:not(.image), a:not(.image):hover {
		border-bottom: $accent-border;	
	}

	.callout-quote {
		padding: 1em 1.3em;
		font-family: $serif;
		text-align: left;
		box-shadow: none;
		border: none;
		font-size: $h3;
		line-height: 1.5;
		border-left: 1px solid $light-accent;
		.special {
			color: $med-accent;
		}
	}

	section img {
		border: $light-accent 5px solid;
		box-shadow: none;
	}

	section .unstyle-img img {
		border: none;
		box-shadow: none;
	}

	.illustration img {
		width: 80%;
		margin: 0 auto;
	}

	.half {
		width: 45%;
		float: left;
		&:first-child {
			margin-right: 3%;
		}
	}

	.clearfix {
	  &:after {
	    content: "";
	    display: table;
	    clear: both;
	  }
	}
}