
//
// Custom theme
// notlaura.com
//


// Reveal
@import "../template/settings";
@import "../template/mixins";

// Custom
@import 'nl-settings';
@import 'nl-typography';
@import "../template/theme";

// Custom
@import 'nl-grid';



// Generates the presentation background, can be overridden
// to return a background image or gradient
body {
	background: $backgroundColor;
	border-top: 10px solid $dark-blue;
}

.reveal {
	font-weight: 300;
	letter-spacing: 0;


	.text-right {
		text-align: right;
	}

	.text-center {
		text-align: center;
	}

	.text-left {
		text-align: left;
	}

	.center-block {
		margin: 0 auto;
	}

	.grey {
		color: $light-accent;
	}

	hr {
		border: 1px dotted $link-color;
	}


	.slides {
		// text-align: left;
	}

	.special {
		color: $dark-blue;
	}

	.pink {
		color: $pink;
	}

	a span.special {
		color: $dark-grey !important;
	}

	a:not(.image), a:not(.image):hover {
		border-bottom: $accent-border;
	}

	.callout-quote {
		padding: 1em 1.3em;
		font-family: $serif;
		text-align: left;
		box-shadow: none;
		border: none;
		font-size: $h3;
		line-height: 1.5;
		border-left: 1px solid $light-accent;
		.special {
			color: $med-accent;
		}
	}

	section img {
		border: $light-accent 5px solid;
		box-shadow: none;
	}

	section .unstyle-img img {
		border: none;
		box-shadow: none;
	}

	.illustration img {
		width: 80%;
		margin: 0 auto;
	}

	.half {
		width: 45%;
		float: left;
		&:first-child {
			margin-right: 3%;
		}
	}

	.clearfix {
	  &:after {
	    content: "";
	    display: table;
	    clear: both;
	  }
	}

	.hljs {
		background-color: $offwhite;
		padding: $base;
		border: 1px dotted $light-accent;
	}

}


